<ng-content></ng-content>

<div class="main_component">
    <mat-card class="colors-for-contact">
        <mat-card-header>
            <mat-card-title>Elérhetőségek</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p><mat-icon>call</mat-icon>+36 20 215 67 30</p>
            <p><mat-icon>email</mat-icon>tesztelek@gmail.com</p>
            <p><mat-icon>contacts</mat-icon>Kismalac</p>
        </mat-card-content>
        <mat-icon class="icon">contact_support</mat-icon>
    </mat-card>
</div>